@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* common style */
.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
}

.heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  padding: 20px 0;
}

.sub-heading {
  font-size: 16px;
  color: gray !important;
  font-style: italic;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

/* header */

#header {
  height: 50px;
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

#header.show-m-menu {
  height: unset;
}

.nav-bar li {
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}

.nav-bar > li,
li a,
.right {
  text-align: center;
  display: inline-block;
  width: 120px;
  color: #fff;
}

li a {
  text-decoration: none;
}

.parent {
  position: relative;
}

.parent > i {
  font-size: 16px;
}

.parent:hover > .sub-menu {
  display: block;
  background: #000;
}

.right {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  width: 100px;
}

.menu-btn {
  display: none;
  width: 60px;
}

.nav-bar li:hover {
  background: #52575d;
}

.search-btn:hover {
  background: #df2e38;
}

.menu-btn:hover {
  background: #52575d;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  display: none;
}

.sub-menu li {
  text-align: left;
  list-style: none;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
}

/* Slider */

#slider {
  overflow: hidden;
  margin-top: 50px;
  position: relative;
}

#slider img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

/* #slider .figure {
  position: absolute;
  bottom: 100px;
  left: 10px;
  color: #fff;
  letter-spacing: 7px;
  font-size: 100px;
  text-transform: uppercase;
  font-size: 100px;
  background: -webkit-linear-gradient(#fff, #000);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

#slider .figure.thumb {
  width: 100%;
  font-weight: 900;
  font-size: 200px;
  text-align: center;
  letter-spacing: 10px;
  background: -webkit-linear-gradient(#fff, #000);

  background: -webkit-linear-gradient(#000, #dedede); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

/* band */

.intro {
  text-align: justify;
  font-size: 18px;
  padding: 20px 0 0;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.img-card {
  width: 33%;
  height: fit-content;
  padding: 10px;
}

.img-card > p {
  text-align: center;
  padding: 15px 0 4px;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.left img {
  opacity: 0.6;
}

/* tour */
#tour {
  background: #000;
}

#tour .heading,
#tour span {
  color: #fff;
}

.month {
  margin: 40px 0 30px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 1px 1px #fff;
}

.month p {
  padding: 10px 20px 10px 15px;
  font-size: 16px;
}

.sold-out {
  padding: 2px 4px;
  background: #df2e38;
  margin-left: 15px;
}

.ticket-count {
  background: #000;
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  float: right;
  vertical-align: middle;
}

.dest-list {
  display: flex;
  gap: 15px;
}

.dest-card {
  width: 33.33%;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
}

.dest-img {
  width: 100%;
}

.dest-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.dest-img img:hover {
  opacity: 0.6;
}

.dest-info {
  padding: 8px 20px 20px;
  text-align: left;
}

.dest-name {
  font-weight: 600;
}

.dest-info .date {
  color: gray;
  padding: 10px 0;
  font-size: 18px;
}

.buy-btn {
  padding: 8px 15px;
  background: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.buy-btn:hover {
  background: #52575d;
}

.ticket-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.show.ticket-modal {
  background: rgba(0, 0, 0, 0.4);
  z-index: 11;
}

.modal-container {
  transform: translateY(-100%);
  width: 55%;
  margin: 0 auto;
  background: #fff;
  opacity: 0s;
}

.show .modal-container {
  transform: translateY(0);
  opacity: 1s;
  margin-top: 8%;
  transition: 0.4s;
}

.modal-heading {
  text-align: center;
  padding: 5% 0;
  background: #0e8388;
  color: #fff;
  position: relative;
  font-size: 30px;
  letter-spacing: 4px;
}

.suitcase {
  padding-right: 5px;
}

.x-btn {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
}

.x-btn:hover {
  opacity: 0.5;
}
.modal-body {
  padding: 15px;
}

.modal-body p {
  font-weight: 600;
}

.modal-body p .bx {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 5px;
}

.modal-body input {
  width: 100%;
  padding: 10px 5px;
  margin: 15px 0;
  font-size: 16px;
}

.pay-btn {
  width: 100%;
  background: #0e8388;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 35px;
}

.pay-btn,
.close-btn {
  color: #fff;
}

.pay-btn:hover,
.close-btn:hover {
  background: #52575d;
}

.close-btn {
  padding: 5px 10px;
  background: #df2e38;
  font-size: 16px;
}

.help-info {
  float: right;
  padding: 5px 0;
}

.help-info a,
#footer a {
  color: #0e8388;
}

/* contact */

.contact-box {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.contact-info {
  text-align: left;
  font-size: 18px;
  width: 65%;
  font-weight: bold;
}

.contact-info p {
  padding: 8px 0;
}

.contact-info p i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 15px;
}
.contact-box form input {
  padding: 10px;
  font-size: 16px;
}

.group-input {
  display: flex;
  gap: 15px;
}

#msg {
  margin: 10px 0 20px;
  width: 100%;
}

.send-btn {
  float: right;
  padding: 8px 16px;
  font-size: 18px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}

.send-btn:hover {
  background: #52575d;
}

.map img {
  width: 100%;
}

/* footer */
#footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.social-media i {
  font-size: 30px;
  color: #52575d;
  cursor: pointer;
  padding: 0 8px;
}

.social-media i:hover {
  opacity: 0.8;
}

@media (max-width: 1199px) {
  .container {
    width: 80%;
    padding: 45px 0;
  }

  .show .modal-container {
    transform: translateY(120%);
    width: 80%;
  }
}

@media (max-width: 768px) {
  .show .modal-container {
    transform: translateY(75%);
    width: 90%;
  }

  .group-input {
    flex-wrap: wrap;
  }

  .contact-box {
    flex-direction: column;
    margin-top: 30px;
  }

  .contact-box form input {
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }
}

@media (max-width: 739px) {
  #header {
    overflow: hidden;
  }
  .nav-bar {
    width: 100%;
    background: #000;
  }

  .nav-bar > li {
    display: block;
    width: 100%;
  }

  .nav-bar > li:first-child {
    width: 120px;
  }

  .nav-bar li a {
    text-align: left;
    padding: 0 20px;
    width: 100%;
  }

  .nav-bar > li:first-child a {
    text-align: center;
    margin-left: -20px;
  }

  .nav-bar .parent {
    display: none;
  }

  .search-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  /* common */

  .container {
    width: 100%;
    padding: 50px 15px;
  }

  /* band */
  .intro {
    text-align: justify;
    font-size: 18px;
    padding: 10px 0 0;
  }

  .img-card {
    margin: 0 auto;
    width: 50%;
    padding: 0 10px;
  }

  .intro {
    padding-bottom: 20px;
  }

  /* tour */
  .dest-list {
    flex-wrap: wrap;
  }
  .dest-card {
    width: 100%;
  }

  .show .modal-container {
    transform: translateY(20%);
  }
}

@media (max-width: 459px) {
  .container {
    width: 100%;
    padding: 50px 8px;
  }
  .img-card {
    margin: 0 auto;
    width: 100%;
  }

  .show .modal-container {
    width: 95%;
  }
}
